{>"include/layout.html"/}
{<content}
	<div class="box all-user">
		<header class="box-head">
			<h3 class="title">组员</h3>
			<ul class="tool-panel pull-right">
				<li>
					<span class="tool-btn toggle-size"><i class="fa fa-chevron-up"></i></span>
				</li>
			</ul>
		</header>
		<div class="box-body">

		</div>
	</div>
	<div class="box last-vote">
		<header class="box-head cf">
			<h3 class="title">最近一次投票</h3>
			<ul class="tool-panel pull-right">
				<li>
					<span class="tool-btn toggle-size"><i class="fa fa-chevron-up"></i></span>
				</li>
			</ul>
		</header>
		<div class="box-body">
			<div>
			</div>
			<div>
			</div>
		</div>
	</div>
{/content}

{<selfJs}
<script src="/static/js/dashboard.bundle.js"></script>
{/selfJs}
