{>"include/layout.html"/}

{<content}
<div class="box vote-box">
	<header class="box-head">
		<h3>投票</h3>
	</header>
	<div class="box-body">
		<table class="borded vote-table">
			<tr>
				<th><input type="checkbox"></th>
				<th>编号</th>
				<th>姓名</th>
				<th>责任心</th>
				<th>积极性</th>
				<th>合作性</th>
				<th>服从性</th>
				<th>纪律性</th>
				<th>印象分</th>
				<th>合计</th>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>1</td>
				<td>张三</td>
				<td><input type="number" min="0" value="35"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0" value="7"></td>
				<td><input type="number" min="0" value="8"></td>
				<td><input type="number" min="0" value="10"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0"></td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>2</td>
				<td>张三</td>
				<td><input type="number" min="0" value="35"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0" value="7"></td>
				<td><input type="number" min="0" value="8"></td>
				<td><input type="number" min="0" value="10"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0"></td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>3</td>
				<td>张三</td>
				<td><input type="number" min="0" value="35"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0" value="7"></td>
				<td><input type="number" min="0" value="8"></td>
				<td><input type="number" min="0" value="10"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0"></td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>4</td>
				<td>张三</td>
				<td><input type="number" min="0" value="35"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0" value="7"></td>
				<td><input type="number" min="0" value="8"></td>
				<td><input type="number" min="0" value="10"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0"></td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>5</td>
				<td>张三</td>
				<td><input type="number" min="0" value="35"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0" value="7"></td>
				<td><input type="number" min="0" value="8"></td>
				<td><input type="number" min="0" value="10"></td>
				<td><input type="number" min="0" value="15"></td>
				<td><input type="number" min="0"></td>
			</tr>
		</table>
	</div>
	<footer class="box-foot"></footer>
</div>
{/content}
{<selfJs}
<script src="/static/js/dashboard.bundle.js"></script>
{/selfJs}
