<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
		<title>首页-{titleName}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/static/css/tp-vote.css">
		<link rel="stylesheet" href="/static/css/tp-dashboard.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		{+selfCss}{/selfCss}
		<script src="/static/js/common.js"></script>
		<script src="/static/js/lib.js"></script>
	</head>
	<body class="has-top">
		<div class="content-wraper" id="wraper">
			<!-- 头部导航 start -->
			{>"include/topNav.html"/}
            <!-- 头部导航 end -->
			<!-- 左侧菜单 start -->
			{>"include/leftNav.html"/}
			<!-- 左侧菜单 end -->
			<div class="content">
				{+content}{/content}
			</div>
		</div>
		{+bodyContent}{/bodyContent}
	</body>
	{+selfJs}{/selfJs}
</html>
