<aside class="page-aside">
    <header class="nav-bar nav-header" style="overflow: hidden">
        <!--<a href="" class="nav-logo">-->
        <!--LOGO-->
        <!--</a>-->
            <span class="nav-info"  id="datetime">
                <i class="fa fa-clock-o"></i>
                <span id="time">--:--:--</span>
                <em class="apm">--</em>
            </span>
            <span class="nav-tool-btn pull-right j-hide-left" id="hideLeftBar">
                <i class="fa fa-align-justify"></i>
            </span>
    </header>
    <section class="aside-content">
        <div class="nav-user">
                <span class="user-avator">
                    <img src="/static-demo/imgs/avator.jpg" alt="" class="avator">
                </span>
                <span class="user-name">
                    馆留言
                    <i class="fa fa-angle-down"></i>
                </span>
                <span class="bad">

                </span>
                <section class="user-menu">
                    <ul>
                        <li>
                            <a href="/admin/home">个人信息</a>
                        </li>
                    </ul>
                </section>
        </div>
        <nav class="nav-menu nav-panel">
            <ul class="menu-list">
                <li>
                    <a href="#" class="has-sub-menu">
                        <i class="fa fa-home"></i>
                        <span class="menu-name">首页</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="menu-name">邮箱</span>
                    </a>
                </li>
                <li class="has-sub-menu">
                    <a href="#" >
                        <i class="fa fa-pencil"></i>
                        <span class="menu-name">创作</span>
                        <i class=""></i>
                    </a>
                    <ul class="sub-menu ">

                        <li><a href="">子菜单</a></li>
                        <li><a href="">子菜单子菜单</a></li>
                        <li><a href="">子菜单子</a></li>
                    </ul>
                </li>
                <li class="has-sub-menu">
                    <a href="#">
                        <i class="fa fa-clock-o"></i>
                        <span class="menu-name">系统设置</span>
                    </a>
                    <ul class="sub-menu ">
                        <li><a href="/admin/user">个人信息</a></li>
                        <li><a href="">2菜单子菜单</a></li>
                        <li><a href="">3菜单子</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </section>
</aside>