<div class="sidebar left">
    <div class="menu-section">
        <dl class="menu-list">
            <dt class="active">

                <a href="/admin"><i class="fa fa-home"></i>首页</a>
            </dt>
        </dl>
        <dl class="menu-list has-sub show-sub">
            <dt class="">
                <i class="fa fa-balance-scale"></i>
                投票
                <span class="fa fa-caret-up"></span>
            </dt>
            <dd>
                <a href="/note/">现在投票</a>
            </dd>
            <dd class="active">
                <a href="javascript:;">历史投票<i class="fa fa-hand-o-right"></i></a>
            </dd>
            <dd class="">
                <a href="/note/info/">投票规则</a>
            </dd>
        </dl>
        <dl class="menu-list has-sub show-sub">
            <dt class="">
                <i class="fa fa-balance-scale"></i>
                蜘蛛
                <span class="fa fa-caret-up"></span>
            </dt>
            <dd>
                <a href="/admin/spider/">抓取JIRA</a>
            </dd>
            <dd>
                <a href="/admin/spart/">抓取文章</a>
            </dd>
            <dd>
                <a href="/admin/spimg/">抓取图片</a>
            </dd>
        </dl>
        <dl class="menu-list has-sub show-sub">
            <dt class="">
                <i class="fa fa-balance-scale"></i>
                文章管理
                <span class="fa fa-caret-up"></span>
            </dt>
            <dd>
                <a href="/admin/article/">文章</a>
            </dd>
            <dd>
                <a href="/admin/article/add/">添加文章</a>
            </dd>
        </dl>
        <dl class="menu-list has-sub show-sub">
            <dt class="">
                <i class="fa fa-balance-scale"></i>
                组员
                <span class="fa fa-caret-up"></span>
            </dt>
            <dd>
                <a href="javascript:;">增加</a>
            </dd>
            <dd class="">
                <a href="javascript:;">所有成员</a>
            </dd>
        </dl>
        <dl class="menu-list has-sub show-sub">
            <dt>
                <i class="fa fa-cog"></i>
                设置
                <span class="fa fa-caret-up"></span>
            </dt>
            <dd>
                <a href="/admin/user/">个人信息</a>
            </dd>
            <dd>
                <a href="/admin/user/photo/">个人相册</a>
            </dd>
            <dd>
                <a href="/admin/user/list/">管理员</a>
            </dd>
        </dl>
    </div>
</div>
