{>"include/layout.html"/}
{<selfCss}
<link rel="stylesheet" href="/static/css/tp-spider.css">
{/selfCss}
{<content}
<div class="box userinfo-box">
    <header class="box-head">
        <h3 class="title">个人信息</h3>
        <ul class="tool-panel pull-right">
            <li>
                <span class="tool-btn toggle-size"><i class="fa fa-chevron-up"></i></span>
            </li>
        </ul>
    </header>
    <div class="box-body">
        <table class="borded userinfo-table">
            <tr>
                <th></th>
                <th>内容</th>
            </tr>
            <tr>
                <td>ID</td>
                <td></td>
            </tr>
            <tr>
                <td>姓名</td>
                <td>{$login_user.name}</td>
            </tr>
            <tr>
                <td>注册时间</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{/content}
{<bodyContent}
{/bodyContent}

{<selfJs}
<script src="/static/js/dashboard.bundle.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/assert/js/sp-art.js"></script>
{/selfJs}
