{>"include/layout-new.html"/}


{<selfCss}

{/selfCss}

{<skin}
    sk-green
{/skin}
{<contentHead}
<header class="container-header" >
    <ul class="nav menu-nav pull-left">
        <li>
            <a href="#add"  class="btn active">文章</a>
        </li>

        <li>
            <a href="#list" class="btn">添加</a>
        </li>
    </ul>

    <ul class="nav menu-nav pull-right">
        <li>
            <a href="#del" class="btn btn-danger">删除</a>
        </li>
    </ul>
</header>
{/contentHead}


{<contentBody}
<div class="row article list" id="app">
    <section class="data-list " v-bind:class="{ status }" >
        <ul class="list-group">
            {#articles}
            <li class="list-group-item">
                <div class="article-item">
                    <input type="checkbox">
                    <span  class="thumb">{author|singleWord}</span>
                    <strong class="author">{author}</strong>
                    <router-link to="#/detail/{_id}" class="art-name">{title}</router-link>
                </div>
                <span class="date"> {publishDate|formatDate}</span>
            </li>
            <!--<li class="list-group-item">-->
                <!--<a href="#" class="thumb">-->
                    <!--M-->
                <!--</a>-->
                <!--<a href="#" class="title">-->
                    <!--<strong class="author">Jack Smith</strong>-->
                    <!--<span class="art-name">Morbirbi nec nunc condimentum.rbi nec nunc condimentum. nec nunc sdasdsada</span>-->
                    <!--<small class="date">08-12 12:43</small>-->
                <!--</a>-->
            <!--</li>-->
            {:else}
                {msg}
            {/articles}
        </ul>
    </section>
    <!--##################-->

    <!--##################-->
    <div class="view">
        <transition name="fade">
            <router-view :title="title" :html-content="html"></router-view>
        </transition>
    </div>
</div>

{/contentBody}

{<selfJs}

<script src="/assets/js/vue.js"></script>
<script src="/assets/js/vue-router.js"></script>
<script src="/assets/temple/articleTmpl.js"></script>
<script src="/assets/js/sp-art.js"></script>

{/selfJs}