{>"include/layout-new.html"/}


{<selfCss}

{/selfCss}


{<contentHead}
<header class="box-head">
    <h3 class="title">爬取的文章</h3>
    <ul class="tool-panel pull-right">
        <li>
            <span class="tool-btn toggle-size" v-link="/"><i class="fa fa-chevron-up"></i></span>
        </li>
    </ul>
</header>
{/contentHead}


{<contentBody}
<div class="box">

    <div class="box-body art-content" id="app">
        <ul>

            {#articles}
            <li class="art-item" data-id="{_id}">
                <router-link to="/detail/{_id}">{title}</router-link>
                <span class="time">{publishDate|formatDate}</span><span class=" author">{author}</span>
            </li>
            {:else}
            {msg}
            {/articles}
        </ul>
        <div class="view">
            <transition name="fade">
                <router-view :title="title" :html-content="html"></router-view>
            </transition>
        </div>
    </div>
</div>

{/contentBody}

{<selfJs}

<script src="/assets/js/vue.js"></script>
<script src="/assets/js/vue-router.js"></script>
<script src="/assets/js/sp-art.js"></script>

{/selfJs}