{>"include/layout-new.html"/}


{<selfCss}

{/selfCss}

{<skin}
    sk-green
{/skin}
{<contentHead}
<header class="container-header" >
    <ul class="nav menu-nav">
        <li>
            <a href="#add"  class="active">LIST</a>
        </li>
        <li>
            <a href="#del">DEL</a>
        </li>
        <li>
            <a href="#list">ADD</a>
        </li>
    </ul>
</header>
{/contentHead}


{<contentBody}
<div class="row">
    <section class="data-list article-list" >
        <ul class="list-group">
            {#articles}
            <li class="list-group-item">
                <span>
                    <input type="checkbox">
                </span>
                <a href="javascript:;" class="thumb">
                    {author|singleWord}
                </a>
                <a href="#/detail/{_id}" class="title" data-id="{_id}">
                    <strong class="author">{author}</strong>
                    <span class="art-name">{title}</span>
                    <small class="date">{publishDate|formatDate}</small>
                </a>
            </li>

            <!--<li class="list-group-item">-->
                <!--<a href="#" class="thumb">-->
                    <!--M-->
                <!--</a>-->
                <!--<a href="#" class="title">-->
                    <!--<strong class="author">Jack Smith</strong>-->
                    <!--<span class="art-name">Morbirbi nec nunc condimentum.rbi nec nunc condimentum. nec nunc sdasdsada</span>-->
                    <!--<small class="date">08-12 12:43</small>-->
                <!--</a>-->
            <!--</li>-->
            {:else}
                {msg}
            {/articles}
        </ul>
    </section>
</div>

{/contentBody}

{<selfJs}

<script src="/assets/js/vue.js"></script>
<script src="/assets/js/vue-router.js"></script>
<script src="/assets/js/sp-art.js"></script>

{/selfJs}