@charset "UTF-8";
.article{
    position: relative;
    max-height: 100%;
    overflow: hidden;
    min-width: 800px;
}
.art-content{
    line-height: 24px;
    padding: 0 20px;
    float: left;
    width: 800px;
}

.art-info{
    float: right;
    position: absolute;
    top:10px;
    left:850px;
    width: 300px;
    margin: 0 20px;
    box-shadow: 0 0 3px rgba(34,25,25,.4);
    padding: 15px;
    .title{
        font-size: 20px;
        //font-weight: bold;
    }
    p{
        line-height: 30px;
    }
    .info-key{
        display: inline-block;
        width: 50%;
        text-align: right;
        padding-right: 10px;
    }
}