@charset "UTF-8";
//文章通用
.article{
    //height: 100%;
    min-height:100%;
}


//列表页
.article.list {
    padding-top: 10px;
    overflow: hidden;
    background-color: #f5f5f5;

    &.select-mod {
        .article-item {
            transform: translateX(0px);
        }
    }
    .article-item {
        &:extend(.tran-04);
        display: block;
        display: flex;
        align-items: center;
        transform: translateX(-30px);

        input[type="checkbox"] {
            margin: 0 5px;
        }

    }
    .thumb {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ccc;
        color: #333;
        text-align: center;
        font-weight: bold;
        margin: 0 10px;
        line-height: 30px;
    }
    .author {
        padding: 0 10px;
    }
    .art-name {
        max-width: 70%;
        padding: 5px;
        &:extend(.no-break);
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .date {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .article-item {

    }
    & > a {
        display: block;
    }

}

.fix-head {
    .article{
        padding-top: 60px;
    }
    .article.edit{
        padding-top: 50px;
    }
}



//文章详情页
.article.detail {
    position: relative;
    overflow: hidden;
}


.art-content {
    line-height: 24px;
    padding: 0 20px;
    float: left;
    width: 800px;

    h1 {
        text-align: center;
        padding: 10px 0;
    }
    p {
        text-indent: 2em;
    }
}

.art-info {
    float: right;
    top: 10px;
    left: 850px;
    width: 300px;
    margin: 0 20px;
    box-shadow: 0 0 3px rgba(34, 25, 25, .4);
    padding: 15px;
    .title {
        font-size: 20px;
        text-align: center;
        //font-weight: bold;
    }
    p {
        line-height: 30px;
    }
    .info-key {
        display: inline-block;
        width: 50%;
        text-align: right;
        padding-right: 10px;
    }
}

//添加

.article-editor-wrap {
    width: 80%;
    margin:-8px;
    position: relative;
    height: 100%;
    border-right: 2px solid #ccc;
    min-width: 700px;
    padding-top: 10px;
    .title-wrap {
        //margin-bottom: 20px;
        //border-bottom: 2px solid #cccccc;
    }

    textarea {
        border: none;
        padding: 10px;
        width: 100%;
        max-width: 100%;
        overflow-y: auto;
    }
    #art_title {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border: none;
        outline: none;
        background: transparent;
        word-break: break-all;
        max-width: 100%;
        border: none;

    }
    #editor {
        min-height: 500px;
    }

    .ql-toolbar.ql-snow {
        border: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .ql-container.ql-snow,
    .ql-editor.ql-blank {
        border: none;
    }
}


.fix-head{


}