@charset "UTF-8";

/*辅助类*/
.bg-white{
    background: #fff;
}
.row{
    margin-top: 10px;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
}
.btn.active{
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.btn-danger{
    background-color: #f2dede;
    color: #a94442;
}