<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{%title%} - 首页</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet/less" type="text/css" href="/less/talk.less?a=12" />
    <script>
    less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        useFileCache: true,
        rootpath: "/less/source/"
    };
    </script>
    <script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
    <style>
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .3s
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0
    }
    </style>
</head>

<body>
    <div id="page_bg">
    </div>
    <div id="app">
        <div class="panel-box" id="main-panel">
            <header class="panel-header">
                <h3 class="">登录{%title%}</h3>
            </header>
            <div class="panel-body">
                <template v-if="hasLogin">
                    <nav class="tab-nav clearfix">
                        <a href="javascript:;" class="tab-nav-item user active"><img src="/images/user.png" alt=""> </a>
                        <a href="javascript:;" class="tab-nav-item users"> <img src="/images/users.png" alt=""> </a>
                        <a href="javascript:;" class="tab-nav-item talking"> <img src="/images/bubble.png" alt=""> </a>
                    </nav>
                    <ul class="tab-body-wraper">
                        <li class="tab-body">
                            <section class="user-wraper">
                                <ul class="user-list" v-on:click="toTalk">
                                    <li class="user-item" v-for="(item, key) in friends" v-on:click="popupBox(key)" :id="key">
                                        <a href="javascript:;" class="avatar">
                                            <img src="/images/logo3.png" alt="">
                                        </a>
                                        <div class="user-info" :id="key">
                                            <p class="user-name">{{item.name}}</p>
                                            <p class="user-desc">{{item.desc || '暂时无任何描述'}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </li>
                        <li class="tab-body hide">
                            <section class="group-wraper">
                                tab2222222
                            </section>
                        </li>
                        <li class="tab-body hide">
                            <section class="">
                                tab33333333
                            </section>
                        </li>
                    </ul>
                </template>
                <template v-else>
                    <div class="login-wraper" v-on:click="clickmoveing" v-on:focusin="focusmoving" v-on:focusout="blurmoving">
                        <form action="javascript:;">
                            <div class="form-group">
                                <input type="text" class="form-ipt" v-model="username">
                                <span class="ipt-label">账号</span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-ipt" v-model="password">
                                <span class="ipt-label">密码</span>
                            </div>
                            <template v-if="showModel == 'reg'">
                                <div class="form-group">
                                    <input type="text" class="form-ipt" v-model="password_repeat">
                                    <span class="ipt-label">确认密码</span>
                                </div>
                                <div class="form-group captcha">
                                    <input type="text" class="form-ipt" placeholder="" v-model="captcha_val">
                                    <span class="ipt-label">图片验证码</span>
                                    <span class="capt-img">
                                    <img v-bind:src="captcha_url" alt="" v-on:click="refresh_capt">
                                </span>
                                </div>
                                <div class="form-group">
                                    <input type="button" class="dm-btn primary" value="注册" v-on:click="saveUser">
                                    <a href="javascript:;" class="reg-btn" v-on:click="showModel='login'">去登录</a>
                                </div>
                            </template>
                            <template v-else>
                                <div class="form-group">
                                    <input type="button" class="dm-btn primary" value="登录" v-on:click="loginUser">
                                    <a href="javascript:;" class="reg-btn" v-on:click="showModel='reg'">去注册</a>
                                </div>
                            </template>
                        </form>
                    </div>
                </template>
            </div>
            <footer class="panel-footer">
                <div class="footer-inner">
                    <template v-if="!hasLogin">
                        <div class="err-tip" v-html="err_tip"></div>
                    </template>
                    <template v-else>
                        <div class="user-tools">
                            <a href="javascript:;" v-on:click="popupBox(f)">
                            添加好友
                        </a>
                            <a href="javascript:;" v-on:click="popupBox(g)">
                            创建群
                        </a>
                        </div>
                    </template>
                </div>
            </footer>
        </div>
        <template v-for="user in chatlist">
            <chat-popup v-bind:chat="user" v-bind:style="styles" v-on:closepopup="close"></chat-popup>
        </template>
        <chat-adduser v-if="addingUser" v-bind:currentuser="userinfo" v-on:addfriend="addfriend"></chat-adduser>
    </div>
    </div>
</body>
<script src="/js/lib/particles.js"></script>
<script src="http://cdnjs.gtimg.com/cdnjs/libs/zepto/1.1.4/zepto.min.js"></script>
<script src="/js/vue/vue.js"></script>
<script type="html/tmpl" id="chat-popup-box">
    <div class="dm-chat-wrapper dm-popup-box dm-anim dm-bounceIn" id="chatBox" draggable="true">
        <section class="dm-wrapper-title"></section>
        <section class="dm-wrapper-content">
            <ul class="dm-chat-userlist dm-user-list hide">
                <li>aaaaa</li>
                <li>aaaaa</li>
                <li>aaaaa</li>
                <li>aaaaa</li>
                <li>aaaaa</li>
                <li>aaaaa</li>
            </ul>
            <div class="dm-chat-box">
                <div class="dm-chat-inner">
                    <div class="dm-chat-title">
                        <div class="dm-chat-info">
                            <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="" class="dm-avatar">
                            <a class="dm-chat-name no-break" :title="user.name" :id="user.id">{{user.name}}
                                <br/>
                                <span class="dm-chat-userStatus online">({{user.status}})</span>
                            </a>
                        </div>
                        <div class="dm-wrapper-tool">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="dm-chat-main">
                        <transition name="fade">
                            <ul id="messages_list" v-if="messages.length>0">
                                <li v-for="item in messages">
                                    <div class="chat-user">
                                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="dm-avatar" alt="">
                                        <span class="user-name no-break">
                                    {{item.name}}
                                    <i class="time">{{item.time}}</i>
                                </span>
                                    </div>
                                    <div class="chat-text">
                                        {{item.words}}
                                    </div>
                                </li>
                            </ul>
                        </transition>
                    </div>
                    <div class="dm-chat-foot">
                        <div class="dm-chat-tool">
                            <span class="dm-icon emoji-icon"></span>
                            <span class="dm-icon file-icon"></span>
                            <span class="dm-icon audio-icon"></span>
                            <span class="dm-icon video-icon"></span>
                            <span class="dm-icon setting-icon"></span>
                            <span class="dm-icon history-icon pull-right">
                                <em>聊天记录</em>
                            </span>
                        </div>
                        <div class="dm-chat-sendText">
                            <textarea id="sendText" autofocus="true"></textarea>
                        </div>
                        <div class="dm-chat-sendBtns">
                            <a href="javascript:;" class="dm-btn danger" v-on:click="close">关闭</a>
                            <a href="javascript:;" class="dm-btn-group">
                                <span class="dm-btn send" v->发送</span>
                                <span class="dm-btn send dropdown" id="sendOpt"><i class="caret"></i></span>
                                <ul class="dropdown-menu" data-toggle="sendOpt">
                                    <li>
                                        <i>√</i>i按Enter键发送消息
                                    </li>
                                    <li>
                                        <i></i>按Ctrl+Enter键发送消息
                                    </li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</script>
<script type="html/tmpl" id="add-user-popup">
    <div class="dm-chat-wrapper dm-popup-box add-user" style="left: 340px;" draggable="true">
        <section class="dm-wrapper-title"></section>
        <section class="dm-wrapper-content">
            <div class="form-group">
                <input type="text" class="form-ipt" placeholder="请输入用户名" v-model="username">
                <div class="dm-btn-group">
                    <span class="dm-btn primary addon" v-on:click="searchUser">搜索</span>
                </div>
            </div>
            <div class="search-result">
                <ul class="user-list" v-if="users.length">
                    <li class="user-item" v-for="item in users">
                        <a href="javascript:;" class="avatar">
                            <img src="/images/logo3.png" alt="">
                        </a>
                        <div class="user-info">
                            <p class="user-name">{{item.uname}}</p>
                            <p class="user-desc">{{item.desc}}</p>
                        </div>
                        <a v-if="item.status == 1" href="javascript:;" class="dm-btn primary" v-on:click="addFriend(item._id)">添加</a>
                        <span v-else="item.status == -1">已经是好友</span>
                    </li>
                </ul>
                <p v-else v-html="tip_msg" class="tips"></p>
            </div>
        </section>
    </div>
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
// function $(selector) {
//     return document.querySelectorAll(selector);
// }
var socket = io('http://localhost:9700');
particlesJS.load('page_bg', '/js/lib/particles.json', function() {
    console.log('particles加载完成 .............');
    // particlesJS();
});
// 聊天窗口
Vue.component('chat-popup', {
    template: document.querySelector('#chat-popup-box').innerHTML.trim(),
    props: ['chat'],
    data: function() {
        console.log(this);
        return {
            user: this.chat,
            messages: []
        }
    },
    methods:{
        close:function(){
            alert('a')

        },
        send:function(){

        },
        history:function(){

        }
    }
});
// 添加好友
var data = [{
    id: '1',
    name: '张三123',
    desc: '武侠打下123'
}, {
    id: '2',
    name: '张三212',
    desc: '武侠打下123'
}, {
    id: '3',
    name: '张三sad',
    desc: '武侠打下123'
}]
Vue.component('chat-adduser', {
    template: document.querySelector('#add-user-popup').innerHTML.trim(),
    props: ['currentuser'],
    data: function() {
        console.log(this);
        return {
            users: [],
            username: '',
            uri: '/user/getuser',
            curuser: this.currentuser,
            tip_msg: ''
        }
    },
    methods: {
        addFriend: function(id) {
            this.$emit('addfriend', { id: id });
        },
        searchUser: function() {
            var that = this;
            var name = this.username;
            if (!name) {
                // return;
            }
            var options = {
                method: "POST",
                body: JSON.stringify({ name: name }),
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: 'include'
            }
            fetch(this.uri, options)
                .then(function(resp) {
                    if (resp.status == '200') {
                        return resp.json();
                    } else {
                        that.tip_msg = '未查询到好友信息'
                        return [];
                    }
                })
                .then(function(data) {
                    if (data.length) {
                        that.users = data;
                    } else {
                        that.tip_msg = '未查询到<em>' + name + '</em>相关的信息';
                    }

                })
                .catch(function(err) {
                    console.log(err);
                })
        }
    }
});
$('body').on('click', '.tab-nav-item', function() {
    var $tab = $(this);
    var index = $tab.index();
    var $tbody = $('.tab-body').eq(index);
    var width = $tbody.width();
    $tbody.removeClass('hidden').siblings().addClass('hidden');
    $tab.addClass('active').siblings().removeClass('active');
    $tbody.closest('.tab-body-wraper').css({
        'transform': 'translate3d(-' + width * index + 'px,0,0)'
    })
});

var app = new Vue({
    el: '#app',
    data: {
        hasLogin: false,
        showModel: 'login',
        username: '',
        password: '',
        password_repeat: '',
        captcha_val: '',
        captcha_url: '/img/capt.gif',
        err_tip: '',
        friends: null,
        chatTo: null,
        styles: {
            left: '346px'
        },
        chatfriend:null,
        addingUser:false,
        userinfo: null,
        chatlist:[]
    },
    methods: {
        focusmoving: function(ev) {
            var target = ev.target;
            $(target).next().addClass('sup');
        },
        clickmoveing: function(ev) {
            var target = ev.target;
            $(target).prev().focus();
        },
        blurmoving: function(ev) {
            var target = ev.target;
            if (!target.value) {
                $(target).next().removeClass('sup');
            }
        },
        refresh_capt: function(ev) {
            ev.target.src = this.captcha_url + '?_=' + Date.now() + Math.random();
        },
        showErrTip: function(text) {
            this.err_tip = '<span>' + text + '</span>';
        },
        saveUser: function() {
            var that = this;
            if (!that.username) {
                that.showErrTip('请输入用户名');
                return;
            }
            if (!that.password) {
                that.showErrTip('请输入密码');
                return;
            }
            if (!that.password_repeat) {
                that.showErrTip('请重复确认密码');
                return;
            }
            if (that.password_repeat !== that.password) {
                that.showErrTip('两次密码不一致');
                return;
            }
            if (!that.captcha_val) {
                that.showErrTip('请输入图片码中数字的计算的值');
                return;
            }
            $.ajax({
                url: '/user',
                type: 'post',
                data: {
                    name: that.username,
                    pass: that.password_repeat,
                    captcha: that.captcha_val,
                },
                success: function(data) {
                    if (data && data.status == '200') {
                        that.err_tip = '注册成功！三秒之后跳转登录页面';
                        setTimeout(function() {
                            that.showModel = 'login';
                            that.err_tip = '';
                        }, 3000)
                    } else {
                        that.err_tip = data.err_msg;
                    }
                }
            })
        },
        loginUser: function() {
            var that = this;
            var name = this.username;
            var pass = this.password;

            if (!name || !pass) {
                that.err_tip = '请输入用户名或者密码';
                return;
            }

            $.ajax({
                url: '/user/login',
                type: 'post',
                data: {
                    name: name,
                    pass: pass
                },
                success: function(data) {
                    if (data && data.status == '200' && (data = data.data)) {
                        that.hasLogin = true;
                        that.userinfo = data;
                        that.err_tip = '';
                        that.friends = data.friends;
                    } else {
                        that.err_tip = data.err_msg;
                    }
                }
            })
        },
        toTalk: function(ev) {
            var target = ev.target;

        },
        popupBox: function(id) {
            console.log(id)
            console.log(this.friends[id]);
            if(this.chatlist.length>10){
                alert('窗口已经超过10个，请适当关闭不用的窗口');
            }
            this.chatfriend = {
                id: id,
                name: this.friends[id].name,
                status: '在线',
                messages: [{
                    words: '我是阿萨德了啊啊',
                    time: (new Date).toLocaleString()
                }]
            }
            this.chatlist.push(this.chatfriend);
        },
        closePopup:function(argument) {
            
        },
        addfriend: function(data) {
            $.ajax({
                url: '/user/addfriend',
                type: 'post',
                data: {
                    id: data.id
                },
                success: function(data) {
                    console.log(data);
                }
            })
        }
    },

    watch: {
        showModel: function() {
            this.username = '';
            this.password = '';
            this.password_repeat = '';
        }
    }
});



$('body').on('mousedown', '.dm-wrapper-title', function(ev) {
    var that = this;
    var $parent = $(that).parent();
    var eleWidth = that.offsetWidht;
    var eleHeight = that.offsetHeight;

    var pageX = ev.pageX || ev.clientX;
    var pageY = ev.pageY || ev.clientY
    var relativeX = pageX - $parent[0].offsetLeft;
    var relativeY = pageY - $parent[0].offsetTop;
    var x = pageX - relativeX;
    var y = pageY - relativeY;

    $parent
        .on('selectstart', function() {
            return false;
        })
        .on('dragstart', function(ev) {
            // console.log('move....');
            var dataTransfer = ev.dataTransfer;
            // dataTransfer.setData("text/plain","人员其内容");
            // dataTransfer.effectAllowed = 'move';
            // dataTransfer.setDragImage(ev.target, 0, 0); //复制出一个同样的元素，透明效果，
            // console.log(dataTransfer.types);
        })
        .on('drag', function() {
            // console.log('拖动')
            $(this).css({
                left: x + 'px',
                top: y + 'px'
            })
        })
        .on('drop', function() {
            // console.log('释放')
        })
        .on('dragend', function(ev) {
            ev.preventDefault()
            // console.log('拖拽结束...');
            // console.log(ev);
            // $(this).css({
            //     left: x + 'px',
            //     top: y + 'px'
            // })
            $(this).off('drag').off('selectstart').off('dragstart').off('drop');
            $('body').off('dragover').off('dragenter');
        })
    var maxLeft = $('body').width() - eleWidth;
    var maxTop = $('body').height() - eleHeight;
    $('body').on('dragover', function(ev) {
        ev.preventDefault(); //阻止了一些动画效果，目前在chrome下测试，阻止，一个阴影淡出的一个效果
        x = (ev.pageX || ev.clientX) - relativeX;
        y = (ev.pageY || ev.clientY) - relativeY;
        if (x <= 0) {
            x = 0;
        }
        if (y <= 0) {
            y = 0;
        }
        if (x >= maxLeft) {
            x = maxLeft;
        }
        if (y >= maxTop) {
            y = maxTop;
        }
    }).on('dragenter', function(ev) {
        ev.preventDefault();
    })
});
</script>

</html>