{extends file="include/layout.html"}

{block name="content"}
<div class="box vote-box">
	<header class="box-head">
		<h3 class="title">投票</h3>
		<span> 当前投票时间：{$smarty.now|date_format:'%Y-%m-%d' } </span>
		<ul class="tool-panel pull-right">
			<li>
				<span class="tool-btn toggle-size"><i class="fa fa-chevron-up"></i></span>
			</li>
		</ul>
	</header>
	<form action="javascript:;" id="voteForm">
	<div class="box-body">

		<table class="borded vote-table">
			<tr>
				<th><input type="checkbox"></th>
				<th>编号</th>
				<th>姓名</th>
				<th>责任心</th>
				<th>积极性</th>
				<th>合作性</th>
				<th>服从性</th>
				<th>纪律性</th>
				<th>印象分</th>
				<th>合计</th>
			</tr>
			{foreach $users as $user}
			<tr data-no="{$user.no}" data-name="{$user.name}">
				<input type="hidden" name="{$user.no}[name]" value="{$user.name}">
				<td><input type="checkbox"></td>
				<td>{$user.no}</td>
				<td>{$user.name}</td>
				<td><input type="number" min="0" max="35" value="35" name="{$user.no}[hic]"></td>
				<td><input type="number" min="0" max="15" value="15" name="{$user.no}[active]"></td>
				<td><input type="number" min="0" max="7" value="7" name="{$user.no}[coop]"></td>
				<td><input type="number" min="0" max="8" value="8" name="{$user.no}[doctrine]"></td>
				<td><input type="number" min="0" max="10" value="10" name="{$user.no}[observe]"></td>
				<td><input type="number" min="0" max="15" value="15" name="{$user.no}[impress]"></td>
				<td><input type="number" min="0"></td>
			</tr>
			{/foreach}
		</table>
		</form>
	</div>
	<footer class="box-foot cf">
		<span class="" style="display:inline-block;line-height:34px;padding-left:5px;">
			<a href="/note/info/" target="_blank" style="color:red;text-decoration:underline;">投票规则</a>
		</span>
		<div class="btn-group pull-right">
			<input type="button" class="btn btn-green" value="提交" id="submitVoteBtn">
			<input type="button" class="btn btn-danger" value="取消" id="cancleVoteBtn">
		</div>
	</footer>

</div>
{/block}
{block name="selfJs"}
<script src="/static/js/dashboard.bundle.js"></script>
{/block}
